*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
   
    background-image: url(images/4.jpg);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
   
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%; 
}
.logo{
         color:white;
         font-size: 35px;
         letter-spacing: 1px;
         cursor: pointer;
}
span{
    color:#f9004d ;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
nav ul li a{
    color: #ee4410 ;
    text-decoration: none;
    font-weight:bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: white;
    transition: .4s;
}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: 600;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1,2);
}
.content{
    position:absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 55px;
}
h3{
    color: white;
    font-size:  25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000,0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
/*about start here */
.about{
width: 100%;
padding: 100px 0px;
background-color: #191919;
}
.about img{
    height: auto;
    width: 430px ;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
    
}
.about-text h3{
    color: white;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color:white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/* written by I
.about{
    background-color: #000;
    display: flex;
}*/

/*
.main{
   margin-left: 15px;
   margin-top: 15px;
    
}
.abouth1{
    text-align: left;
    margin-top: 15px;
    margin-right: 150px;
}
.convo{
    width: 55%;
    height: 100%;
}
.aboutParagraph{
    color:white;
    text-align: center;
}
.inputabout{
    margin-top: 30px;
    position: center;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000;
    top: 6px;
    right: 6px;
}
*/
